{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}
{% if project_list %}
    <div class="page-header" style="margin-top: 0">
    <p>{{ project_list.count }} {% trans "projects found" %}
        <a type="button" onClick="window.print()" class="no-print btn btn-primary pull-right"><span
                class='glyphicon glyphicon-print'></span></a></p>
    </div>

    {% for project in project_list %}
        <div class="row">
            <div class="col-xs-4 print-pull-right">
                <div class="header">{% trans "Projectname" %}</div>
                <h4 class="content"><a href="{% url 'detail' project.id %}" style="word-wrap:break-word;">
                    {{ project.title }}</a></h4>
                <div class="header">{% trans "Categories" %}</div>
                <p>{% for category in project.categories.all %}
                    {% if category.parent %}
                        {{ category.parent.name }}>{{ category.name }},
                    {% else %}
                        {{ category.name }},
                    {% endif %}
                {% endfor %}
                </p>
            </div>

            <div class="col-xs-8 print-pull-right">
                <div class="header">{% trans "Description" %}</div>
                {% if project.logo == 'https://openclipart.org/image/2400px/svg_to_png/201970/refugees-welcome.png' %}
                <img class="media-object" src="https://openclipart.org/image/100px/svg_to_png/201970/refugees-welcome.png" alt="Logo placeholder"
                     style="max-height:100px; max-width:100px;">
                {% else %}
                <img class="media-object" src="{{ project.logo }}" alt="Logo placeholder"
                     style="max-height:100px; max-width:100px;" onerror="this.src='{% static 'mainApp/img/default_logo.png' %}'">
                {% endif %}
                <p class="content">{{ project.get_description }}</p>
                <!--
        {% if project.description_de %}
        <p class="content">{{ project.description_de }}</p>
        {% elif project.description_en %}
        <p class="content">{{ project.description_en }}</p>
        {% else %}
        <p class="content">{% trans "No description available" %}</p>
        {% endif %}
        -->
            </div>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p class="hidden">No Projects were found.</p>
{% endif %}
