{% extends "mainApp/base.html" %}
{% load i18n %}
{% block content %}
  <form action="" method="GETModel could not be found" class="form-inline">
    <input type="text" name="query" class="form-control" placeholder="Search" id="search" autocomplete="off">
    <button type="button" value="Search" class="btn btn-default">Search</button>
  </form>
  <div id="filter-area">

  </div>
  <br>
  <p>Hier Soll dann irgendwann die API-Gebrauchsanleitung stehen. </p>
  <!--<script>
  $.getJSON("http://meta.refugeehelper.net/api/projects", function(json) {
    console.log(json);
  })
</script>-->
{%endblock%}
