{% extends "mainApp/base.html" %}

{% block content %}
  <form action="" method="GETModel could not be found" class="form-inline">
    <input type="text" name="query" class="form-control" placeholder="Search" id="search" autocomplete="off">
    <button type="button" value="Search" class="btn btn-default">Search</button>
  </form>
  <small class="hidden"><span class="caret"> </span> more options</small>
  <br>
  <div id="search-results"></div>
  <!--<script>
  $.getJSON("http://meta.refugeehelper.net/api/projects", function(json) {
    console.log(json);
  })
</script>-->
{% if project_list %}
    <ul id="list">
    {% for project in project_list %}
        <li><a href="{% url 'detail' project.object.id %}">{{ project.object.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Organisations are available.</p>
{% endif %}
{%endblock%}
