{% extends "mainApp/base.html" %}
{% load extras %}
{% load widget_tweaks %}

{% block content %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in form.errors %}
        {{error }} is required<br>
    {% endfor %}
    </div>
    {% endif %}
    <form action="" method="post" id="JoinForm">{% csrf_token %}
    <div class="page-header" style="margin-top: 0">
        <button type="submit" value="Create" class="btn btn-primary pull-right">Create</button>
        <h3>New Project</h3>
    </div>
        <div class="form-group {{ form.title|is_required }}">
            <label for="{{ form.title.id_for_label }}" class="control-label">Project name</label>
            {% render_field form.title class+="form-control" %}
        </div>
        <div class="form-group {{ form.url|is_required }}">
            <label for="{{ form.url.id_for_label }}" class="control-label">URL</label>
            {% render_field form.url type="url" class+="form-control" %}
        </div>
        <div class="form-group {{ form.organisation_name|is_required }}">
            <label for="{{ form.organisation_name.id_for_label }}" class="control-label">Organisation</label>
            {% render_field form.organisation_name class+="form-control" %}
        </div>

        <label for="desc_tabs" class="control-label">Descriptions</label>
        <div id="desc_tabs" class="form-group">
            <ul>
                <li class="{{ form.description_de|is_required }}"><a
                        href="#{{ form.description_de.id_for_label }}">de</a></li>
                <li class="{{ form.description_en|is_required }}"><a
                        href="#{{ form.description_en.id_for_label }}">en</a></li>
                <li class="{{ form.description_ar|is_required }}"><a
                        href="#{{ form.description_ar.id_for_label }}">ar</a></li>
            </ul>
            <div id="{{ form.description_de.id_for_label }}" class="{{ form.description_de|is_required }}">
                {% render_field form.description_de class+="form-control" %}
            </div>
            <div id="{{ form.description_en.id_for_label }}" class="{{ form.description_en|is_required }}">
                {% render_field form.description_en class+="form-control" %}
            </div>
            <div id="{{ form.description_ar.id_for_label }}" class="{{ form.description_ar|is_required }}">
                {% render_field form.description_ar class+="form-control" style="direction: rtl;" %}
            </div>
        </div>
        <div class="form-group {{ form.contact_loc|is_required }}">
            <label for="{{ form.contact_loc.id_for_label }}" class="control-label">Contact Address</label>
            <div id="{{ form.contact_loc.id_for_label }}" class="form-group
            {{ form.contact_loc|is_required }} form-group-addresses">
                <label for="{{ form.contact_address_street.id_for_label }}" class="control-label">Street</label>
                {% render_field form.contact_address_street class+="form-control form-control-address" %}
                <label for="{{ form.contact_address_housenr.id_for_label }}" class="control-label">Number</label>
                {% render_field form.contact_address_housenr class+="form-control form-control-address" %}
                <label for="{{ form.contact_address_zip.id_for_label }}" class="control-label">Zip</label>
                {% render_field form.contact_address_zip class+="form-control form-control-address" %}
                <label for="{{ form.contact_address_zip.id_for_label }}" class="control-label">City</label>
                {% render_field form.contact_address_city class+="form-control form-control-address" %}
                <label for="{{ form.contact_address_country.id_for_label }}" class="control-label">Country</label>
                {% render_field form.contact_address_country class+="form-control form-control-address" %}
            </div>
        </div>

        <div class="form-group {{ form.geo_location|is_required }}">
            <label for="{{ form.geo_location.id_for_label }}" class="control-label">Area</label>
            <div id="{{ form.geo_location.id_for_label }}" class="form-group
            {{ form.geo_location|is_required }} form-group-addresses">
                <label for="{{ form.area_city.id_for_label }}" class="control-label">City</label>
                {% render_field form.area_city class+="form-control form-control-address" %}
                <label for="{{ form.area_state.id_for_label }}" class="control-label">State</label>
                {% render_field form.area_state class+="form-control form-control-address" %}
                <label for="{{ form.area_country.id_for_label }}" class="control-label">Country</label>
                {% render_field form.area_country class+="form-control form-control-address" %}
            </div>
        </div>
        <div class="form-group {{ form.needs|is_required }}">
            <label for="{{ form.needs.id_for_label }}" class="control-label">Needs</label>
            {% render_field form.needs placeholder="max 200 characters" class+="form-control" %}
        </div>
        <div class="form-group {{ form.status|is_required }}">
            <label for="{{ form.status.id_for_label }}" class="control-label">Status</label>
            {% render_field form.status class+="form-control" %}
        </div>
        <div class="form-group {{ form.kind|is_required }}">
            <label for="{{ form.kind.id_for_label }}" class="control-label">Kind</label>
            {% render_field form.kind class+="select2" %}
        </div>
        <div class="form-group {{ form.categories|is_required }}">
            <label for="{{ form.categories.id_for_label }}" class="control-label">Categories</label>
            <select id="{{ form.categories.id_for_label }}"
                    multiple="multiple" style="position: absolute; left: -9999px;">
            </select>
        </div>
        <div class="form-group {{ form.languages|is_required }}">
            <label for="{{ form.languages.id_for_label }}" class="control-label">Languages</label>
            {% render_field form.languages class+="select2" %}
        </div>

        <div class="form-group {{ form.logo|is_required }}">
            <label for="{{ form.logo.id_for_label }}" class="control-label">Logo (<a
                    href="#{{ form.logo.id_for_label }}" id="blob" rel="popover">preview</a>)</label>
            <!--{% render_field form.logo type="url" class+="form-control" %}-->
            <input type="url" class="form-control" name="{{ form.logo.name }}" id="{{ form.logo.id_for_label }}"
                   value="{{ form.logo.value }}">
        </div>
        </div>
        <button type="submit" value="Create" class="btn btn-primary">Create</button>
    </form>

    {% load staticfiles %}
    <script src="{% static 'mainApp/js/jquery.multi-select.js' %}" type="text/javascript"></script>
    <script>
        $(function () {
            $('#desc_tabs').tabs();

            $('.select2').select2({
                theme: "bootstrap",
                width: null
            });

            var img = '<img src="' + $('#{{form.logo.id_for_label}}').val() + ' width="50" height="50" alt="Image not found" />';
            $('#blob').popover({html: true, content: img, trigger: 'hover'});
        });

        $('#{{form.logo.id_for_label}}').change(function () {
            var text = $('#{{form.logo.id_for_label}}').val();
            if (text.endsWith('.png') || text.endsWith('.jpg') || text.endsWith('.svg') || text.endsWith('.gif'))
                var img = '<img src="' + text + ' width="50" height="50" alt="Image not found" />';
            else
                var img = '<p>No image URL provided.</p>';
            $('#blob').data('bs.popover').options.content = img;
        });

        function initCategories() {
            $('#{{ form.categories.id_for_label }}').multiSelect({
                selectableOptgroup: true,
                keepOrder: true,
                selectableHeader: "<div class='control-label'>Selectable items</div>",
                selectionHeader: "<div class='control-label'>Selections</div>"
            });
        }

        $(function () {
            $.getJSON("../../api/search/category?parent*isnull=True&format=json", function (data) {
                var select = document.getElementById('{{ form.categories.id_for_label }}')
                var lastID = data[data.length - 1].id;
                $.each(data, function (key, val) {
                    var grp = document.createElement('optgroup');
                    grp.setAttribute("label", val.name)
                    $.getJSON("../../api/search/category?format=json&parent=" + val.id, function (data) {
                        $.each(data, function (key, val) {
                            var opt = document.createElement('option');
                            opt.value = val.id
                            opt.innerHTML = val.name
                            grp.appendChild(opt)
                        });
                    }).fail(function () {
                        var opt = document.createElement('option');
                        opt.value = val.id
                        opt.innerHTML = val.name
                        grp.appendChild(opt)
                        if (val.id == lastID) {
                            initCategories()
                        }
                    }).done(function () {
                        if (val.id == lastID) {
                            initCategories()
                        }
                    });

                    select.appendChild(grp)
                });

            });
        })

        $('#JoinForm').submit(function () {
            var categories = $('#{{ form.categories.id_for_label }}').get(0).selectedOptions
            for (var i = 0; i < categories.length; i++) {
                console.log(categories[i]); //second console output
                var cat = categories[i]
                $(this).append("<input type=\"hidden\" name=\"category_" + cat.text + "\" value=\"" + cat.value + "\"></input>")
            }

        });
    </script>
{% endblock %}
