{% extends "mainApp/base.html" %}
{% load extras %}
{% load widget_tweaks %}

{% block content %}
<div class="page-header" style="margin-top: 0">
	<button type="submit" value="Create" class="btn btn-primary pull-right">Create</button>
  <h3>New Project</h3>
</div>
<form action="" method="post">{% csrf_token %}
	<div class="form-group {{form.title|is_required}}">
	  <label for="{{ form.title.id_for_label }}" class="control-label">Project name</label>
	  {% render_field form.title class+="form-control" %}
 	</div>
 	<div class="form-group {{form.url|is_required}}">
	  <label for="{{ form.url.id_for_label }}" class="control-label">URL</label>
	  {% render_field form.url type="url" class+="form-control" %}
	</div>
 	<div class="form-group {{form.organisation_name|is_required}}">
	  <label for="{{ form.organisation_name.id_for_label }}" class="control-label">Organisation</label>
	  {% render_field form.organisation_name class+="form-control" %}
	</div>
	<label for="desc_tabs" class="control-label">Descriptions</label>
	<div id="desc_tabs" class="form-group">
		<ul>
			<li class="{{form.description_de|is_required}}"><a href="#{{ form.description_de.id_for_label }}">de</a></li>
			<li class="{{form.description_en|is_required}}"><a href="#{{ form.description_en.id_for_label }}">en</a></li>
		</ul>
		<div id="{{ form.description_de.id_for_label }}" class="{{form.description_de|is_required}}">
			{% render_field form.description_de class+="form-control" %}
		</div>
		<div id="{{ form.description_en.id_for_label }}" class="{{form.description_en|is_required}}">
			{% render_field form.description_en class+="form-control" %}
		</div>
	</div>
	<div class="form-group {{form.status|is_required}}">
  	<label for="{{ form.status.id_for_label }}" class="control-label">Status</label>
	  {% render_field form.status class+="form-control" %}
	</div>
		<div class="form-group {{form.kind|is_required}}">
  	<label for="{{ form.kind.id_for_label }}" class="control-label">Kind</label>
	  {% render_field form.kind class+="select2" %}
	</div>
		<div class="form-group {{form.categories|is_required}}">
  	<label for="{{ form.categories.id_for_label }}" class="control-label">Categories</label>
	  {% render_field form.categories class+="select2" %}
	</div>
		<div class="form-group {{form.languages|is_required}}">
  	<label for="{{ form.languages.id_for_label }}" class="control-label">Languages</label>
	  {% render_field form.languages class+="select2" %}
	</div>
	 	<div class="form-group {{form.logo|is_required}}">
		  <label for="{{ form.logo.id_for_label }}" class="control-label">Logo (<a href="#{{ form.logo.id_for_label }}" id="blob" rel="popover">preview</a>)</label>
		  <!--{% render_field form.logo type="url" class+="form-control" %}-->
		  <input type="url" class="form-control" name="{{form.logo.name}}" id="{{form.logo.id_for_label}}" value="{{form.logo.value}}">
	  </div>
	</div>
  <button type="submit" value="Create" class="btn btn-primary">Create</button>
</form>

<script>
  $(function() {
    $( '#desc_tabs' ).tabs();

    $('.select2').select2({
    	theme: "bootstrap",
    	width: null
    });

    var img = '<img src="'+$('#{{form.logo.id_for_label}}').val()+' width="50" height="50" alt="Image not found" />';
    $('#blob').popover({ html: true, content: img, trigger: 'hover' });
  });

	$('#{{form.logo.id_for_label}}').change(function() {
		var text = $('#{{form.logo.id_for_label}}').val();
		if(text.endsWith('.png') || text.endsWith('.jpg') || text.endsWith('.svg') || text.endsWith('.gif'))
			var img = '<img src="'+text+' width="50" height="50" alt="Image not found" />';
		else
			var img = '<p>No image URL provided.</p>';
  	$('#blob').data('bs.popover').options.content = img;
	});
</script>
{%endblock%}
