{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/jquery-ui.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/select2.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/select2-bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/multi-select.css' %}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/print.css' %}" media="print" />
  <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/last_style.css' %}" />

  <script type="text/javascript" src="{% static 'mainApp/js/jquery-2.1.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'mainApp/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'mainApp/js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'mainApp/js/select2.full.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'mainApp/js/ajax.js' %}"></script>

  <title>{% block title %}metacollect{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header {% if LANGUAGE_CODE|language_bidi %} navbar-right {% else %} navbar-left {% endif %}">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}"><small>/\/\&lt;</small> meta<b>collect</b></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <form class="navbar-form  {% if LANGUAGE_CODE|language_bidi %} navbar-left {% else %} navbar-right {% endif %}" action="{% url 'set_language' %}" method="post" style="padding-top:4px;" id="langSwitch">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language" id="lang">
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <!--<input type="submit" value="Go" />-->
        </form>
        {% if LANGUAGE_CODE|language_bidi %}
        <ul class="nav navbar-nav navbar-left">
          <li class="hidden"><a href="#contact">{% trans "FAQ" %}</a></li>
          <li><a href="#contact">{% trans "Contact" %}</a></li>
          <li><a href="#about">{% trans "About" %}</a></li>
          <li><a href="{% url 'new' %}">{% trans "Join" %}</a></li>
          <li><a href="{% url 'data' %}">{% trans "Data" %}</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'data' %}">{% trans "Data" %}</a></li>
          <li><a href="{% url 'new' %}">{% trans "Join" %}</a></li>
          <li><a href="#about">{% trans "About" %}</a></li>
          <li><a href="#contact">{% trans "Contact" %}</a></li>
          <li class="hidden"><a href="#contact">{% trans "FAQ" %}</a></li>
          {% if request.user.is_authenticated %}



          <li class="dropdown">
              <a href="#" class=" dropdown-toggle"  id="userLoggedInDropDown" data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="true" style="padding: 15px 15px;">
                {{request.user.username}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="userLoggedInDropDown">
                <li><a href="{% url 'user_profile' %}">Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'auth_logout' %}">Log Out</a></li>
              </ul>
          </li>
          {% else %}
          <li><a href="{% url 'auth_login' %}">login</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container" style="margin-top:60px">
    <div id="content"  {% if LANGUAGE_CODE|language_bidi %} style="direction:rtl;" {% endif %}>
      {% block content %}{% endblock %}
    </div>
  </div>

  <script>
    $('#lang').on('change', function() {
      $('#langSwitch').submit();
    })
  </script>
</body>
</html>
