django==1.8
django-haystack
elasticsearch==1.7.0
requests
djangorestframework
geopy
djangorestframework-xml
djangorestframework-yaml
django-widget-tweaks
django-cors-headers
django-registration-redux
django-guardian
